<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Rentem - {% block title %}{% endblock %}</title>
  <!-- CSS File-->
  <link href="{% _base_url %}/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
  <link href="{% _base_url %}/static/css/font-awesome.css" media="all" rel="stylesheet" type="text/css" />
  <link href="{% _base_url %}/static/css/taiman.css" media="all" rel="stylesheet" type="text/css" />
  <!-- JavaScript File-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{% _base_url %}/static/js/lib/angular.js"></script>
  <script src="{% _base_url %}/static/js/lib/angular-resource.js"></script>
  <script src="{% _base_url %}/static/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="{% _base_url %}/static/js/lib/bootstrap.min.js"></script>
  <script src="{% _base_url %}/static/js/taiman-app.js"></script>
  <script src="{% _base_url %}/static/js/taiman-controller.js"></script>
  <script src="{% _base_url %}/static/js/taiman-ui.js"></script>
</head>